@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
    
    body {
      margin: 0 auto;
      overflow: hidden;
      font-family: 'ADLaM Display', cursive;
    }
    
    header {
      position: absolute;
      width: 100%;
      left: 0px;
      top: 0px;
      background: #B6CFEC;
      text-align: center;
      font-size: 1.5em;
    }
    
    #game {
      position: absolute;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    #game > * {
      width: 100%;
      height: 100%;
    }
    
    .image-container {
      width: 100%;
      height: 100%;
      display: flex;
    }
    
    #game-image {
      position: absolute;
      object-fit: cover;
      height: 800px; 
      width: 700px; 
      margin-left: 500px;
    }
    
    #buttons {
      position: fixed;
      top: 0;
      left: 0;
    }

    #play {
      width: 300px;
      height: 100px;
      color: black;
      font-family: 'ADLaM Display', cursive;
      text-align: center;
      font-size: 4em;
    }

    .key-containers {
      display: flex;
      align-items: center;
    }

    .key-images {
      width: 80px;
      height: 80px;
    }
    
    .option{
      color: black;
      z-index: 3;
      height: 70px;
      width: 200px;
      font-size: 3em;
      font-family: 'ADLaM Display', cursive;
      text-align: center;
    }
    
    .scores-container {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 150px;
      margin-left: 890px;
    }

    .scores-container > h2 {
      font-size: 2em;
      margin-right: 5px;
    }
    
    .scores {
      margin: 0;
      padding: 0;
      font-size: 3em;
      margin-right: 20px;
    }
    
    #lose-container {
      width: 200px;
      height: 200px;
      color: white;
      background-color: black;
      position: fixed;
      top: -20px;
      left: 0;
    }
    
    #lose-message {
      text-align: center;
    }
    
    .globe {
      position: absolute;
      top: 150px;
      left: -150px;
      width: 1000px; 
      height: 1000px;
      background-image: url('static/game/globe.png');
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: -1;
    }

    .button-container {
      display: flex;
      flex-direction: column;
      margin-left: 900px;
    }
    
    a {
      margin: 20px; 
      width: 300px;
      height: 100px;
      z-index: 3;
      color: black;
      font-family: 'ADLaM Display', cursive;
      text-align: center;
      font-size: 4em;
    }    

    #tutorials {
      display: flex;
      flex-direction: column;
      margin-left: 1000px;
    }

    .floating-h1 {
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      animation: floatAround 5s infinite linear;
      z-index: 100;
      background-image: linear-gradient(45deg, 
                violet, 
                indigo, 
                blue, 
                green, 
                yellow, 
                orange, 
                red
            );
            -webkit-background-clip: text;
            color: transparent; /* Make text transparent */
    }

    @keyframes floatAround {
        0% {
            transform: translate(-50%, -50%);
        }
        25% {
            transform: translate(-50%, -50%) translate(100px, -100px); 
        }
        50% {
            transform: translate(-50%, -50%) translate(200px, 100px); 
        }
        75% {
            transform: translate(-50%, -50%) translate(-50px, 150px);
        }
        100% {
            transform: translate(-50%, -50%);
        }
    }
   
    .rotating-image {
      position: absolute;
      width: 1100px;
      height: 1375px;
      opacity: 0;
      animation: rotateImages 16s linear infinite;
    }
    
    .rotating-image:nth-child(1) { animation-delay: 0s; }
    .rotating-image:nth-child(2) { animation-delay: 6s; }
    .rotating-image:nth-child(3) { animation-delay: 12s; }
    .rotating-image:nth-child(4) { animation-delay: 18s; }
    
    @keyframes rotateImages {
      0% {
        opacity: 0;
        transform: scale(1);
      }
      5%, 100% {
        opacity: 1;
        transform: scale(1);
      }
      25%, 95% {
        opacity: 0;
        transform: scale(0);
      }
    }
    